#数据库配置
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://47.93.14.225:3306/store?useUnicode=true&characterEncoding=UTF-8&useSSL=false
    username: root
    password: root
    druid:
      max-active: 30
      min-idle: 5
      max-wait: 10000
      validation-query: select 'x'
      filter:
        stat:
          log-slow-sql: true
          slow-sql-millis: 5000
          merge-sql: true
  aop:
    auto: true
    proxy-target-class: true
  mvc:
    throw-exception-if-no-handler-found: true
  resources:
    add-mappings: false


#mybatis配置
#mybatis:
#  type-aliases-package: com.rxr.store.common.entity
#  configuration:
#    cache-enabled: false
#    map-underscore-to-camel-case: true
#    use-generated-keys: true
#    default-executor-type: reuse
#    default-statement-timeout: 600


store:
  imagePath: d:\storeImages\
  imageTempPath: d:\storeTemp\
  imageUrl: http://localhost/storeImages/