#数据库配置
spring:
  profiles:
    active: prod
  aop:
    auto: true
    proxy-target-class: true
  mvc:
    throw-exception-if-no-handler-found: true
  resources:
    add-mappings: false
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: true

sotre:
  weichat-url: http://www.runxier.com/wechat/product/qrcode?serialNo=

tasks:
  com.rxr.store.web.job.PayStatusJob: 0 0/10 * * * ?
#mybatis配置
#mybatis:
#  type-aliases-package: com.rxr.store.common.entity
#  configuration:
#    cache-enabled: false
#    map-underscore-to-camel-case: true
#    use-generated-keys: true
#    default-executor-type: reuse
#    default-statement-timeout: 600
